/*--------------------------------------------------------------
## Team
--------------------------------------------------------------*/
.xp-team {
  text-align: center;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.xp-team .team-info {
  background: #fff;
  padding: 28px 30px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.xp-team .team-info h6 {
  margin-bottom: 5px;
  font-weight: 600;
}
.xp-team .team-info span {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #C19977;
}
.xp-team .team-thumb {
  position: relative;
}
.xp-team h6 a:hover {
  color: #1a1b1e;
}
.fab {
  font-family: "fontawesome";
  font-style: normal;
}
/* team 3 */
.team-3 {
  padding: 40px;
}
.team-3 .team-thumb {
  margin-bottom: 27px;
}
.team-3 .team-thumb a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.team-3 .team-thumb a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(254, 132, 35, 0.8);
  opacity: 0;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.team-3 .team-thumb a:after {
  content: "\f118";
  font-family: xpcustomicon;
  font-size: 23px;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -11px;
  color: #fff;
  opacity: 0;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.team-3 .team-info {
  padding: 0;
  background: transparent;
}
.team-3 .team-info h6 {
  font-weight: 700;
}
.team-3:hover a:before,
.team-3:hover a:after {
  opacity: 1;
}

.circle-social .team-social {
  margin-top: 15px;
}
.circle-social .team-social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  margin-right: 7px;
  border: 1px solid rgba(11, 11, 11, 0.2);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.circle-social .team-social a:last-child {
  margin: 0;
}
.circle-social .team-social a svg {
  width: 12px;
  fill: #1a1b1e;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.circle-social .team-social a:hover {
  color: #fff;
  border-color: transparent;
  background: #C19977;
}
.circle-social .team-social a:hover svg {
  fill: #fff;
}
